*{font-family:'NanumSquare',sans-serif;font-weight:400;box-sizing:border-box;}
body{margin:0;padding:0;}
img{max-width:100%;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}

nav.fixed{position:fixed;top:0;width:100%;}
.navbar-default{background:rgba(255,255,255,.9);border:none;margin-bottom:0;}
.navbar-default > .container-fluid{margin:16px auto;padding-right:36px;padding-left:36px;}
.navbar-brand img{position:relative;display:inline-block;margin-right:16px;}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{color:#000;font-size:24px;font-weight:700;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#000;font-size:14px;font-weight:500;}
.nav > li > a{padding:8px 16px;margin:4px 4px 0;}
.nav > li.signup > a, .nav > li.signup > a:hover{border-radius:4px;background-color:#2563eb;color:#fff;}

#header{background:linear-gradient(90deg, rgba(239,246,255,1) 0%, rgba(219,234,254,1) 100%);margin:0;padding:70px 0 90px;color:#fff;}
#header>.container{position:relative;}

#header>.container .main_banner_wrap{float:left;}
#header>.container .main_banner_wrap .head_tit{font-size:42px;color:#000;letter-spacing:-.5px;font-weight:900;line-height:1.4;}
#header>.container .main_banner_wrap .head_tit span{font-weight:900;color:#3d74ed;}
#header>.container .main_banner_wrap a{display:inline-block;padding:16px 24px;color:#fff;background-color:#2563eb;font-size:18px;margin-top:32px;border-radius:30px;}
#header>.container .login_wrap{float:right;padding:32px;background-color:rgba(255,255,255,1);box-shadow:5px 15px 16px 4px rgba(61,116,237,.1);border-radius:8px;min-width:368px;}
#header>.container .login_wrap .tit{font-size:18px;font-weight:400;letter-spacing:-1px;color:#333;}
#header>.container .login_wrap form{margin-top:8px;}
#header>.container .login_wrap .input_group input{width:100%;border:none;padding:16px;color:#555;background-color:#f5f5f5;}
#header>.container .login_wrap .input_group input::placeholder{color:#999;}
#header>.container .login_wrap .input_group input+input{border-top:1px dashed #d4d4d4;}
#header>.container .login_wrap .input_group input:nth-child(1){border-radius:4px 4px 0 0;}
#header>.container .login_wrap .input_group input:nth-child(2){border-radius:0 0 4px 4px;}
#header>.container .login_wrap .g-recaptcha{margin:8px 0;}
#header>.container .login_wrap .input_submit{margin:8px 0;}
#header>.container .login_wrap .input_submit button{width:100%;font-size:16px;background-color:#2563eb;padding:12px;}
#header>.container .login_wrap .input_memo{color:#333;font-size:13px;}
#header>.container .login_wrap .input_memo .memory{float:left;}
#header>.container .login_wrap .input_memo .find_pw{float:right;}

.catchphrase{position:relative;margin-top:-32px;padding:20px 0;background-color:#fff;color:#333;text-align:center;box-shadow:0 4px 8px 2px rgba(61,116,237,.1);border-radius:16px;font-size:16px;font-weight:700;}
.catchphrase span{color:#2563eb;font-weight:700;display:inline-block;box-shadow:inset 0 -10px 0 0 rgba(61,116,237,.2);padding:0 4px;}

.count_wrap{display:flex;justify-content:space-between;margin:64px auto;}
.count_wrap>div{flex:1;padding:24px;background-color:#eff6ff;border-radius:16px;box-shadow:2px 4px 8px 2px rgba(61,116,237,.1);position:relative;font-size:16px;font-weight:700;}
.count_wrap>div+div{margin-left:32px;}
.count_wrap>div:hover{top:-8px;}
.count_wrap>div strong{display:block;margin-top:8px;font-size:32px;text-align:right;font-weight:900;letter-spacing:-1px;}

.special_feature_wrap{margin-top:64px;padding:64px 0 56px;background-color:#061328;}
.special_feature_wrap .container h3{font-size:36px;font-weight:400;letter-spacing:-1px;text-align:center;color:#fff;}
.special_feature_wrap .container .special_feature{position:relative;padding-bottom:40px;width:100%;overflow:hidden;margin-top:40px;text-align:center;}
.special_feature_wrap .container .special_feature .swiper-slide{background-color:#fff;border-radius:8px;padding:40px;height:256px;}
.special_feature_wrap .container .special_feature .swiper-slide img{height:56px;}
.special_feature_wrap .container .special_feature .swiper-slide .tit{margin:24px 0 8px;font-size:20px;font-weight:700;}
.special_feature_wrap .container .special_feature .swiper-slide:hover, .special_feature_wrap .container .special_feature .swiper-slide:focus{
    background-color:rgba(37,99,235,1);color:#fff;
}
.special_feature_wrap .container .special_feature .swiper-pagination{bottom:0;}
.special_feature_wrap .container .special_feature .swiper-pagination .swiper-pagination-bullet{background-color:#fff;border-radius:0;margin:0;width:40px;height:4px;}

.order_list_wrap{background:linear-gradient(180deg, rgba(255,255,255,1) 25%, rgba(235,235,235,1) 100%);padding:24px 0;}
.order_list_wrap .container{position:relative;}
.order_list_wrap .container .mask{position:absolute;top:-24px;right:0;width:420px;height:180px;z-index:100;background:linear-gradient(180deg, rgba(255,255,255,.85) 30%, rgba(255,255,255,.25) 100%);}
.order_list_wrap .order-tit{float:left;}
.order_list_wrap .order-tit .tit{font-size:42px;color:#000;letter-spacing:-.5px;font-weight:900;line-height:1.4;margin-top:160px;}
.order_list_wrap .order-tit .sns_wrap{margin-top:32px;}
.order_list_wrap .order-tit .sns_wrap>div{float:left;margin-right:8px;width:56px;border-radius:8px;overflow:hidden;}
.order_list_wrap .order-tit .sns_wrap>div img{width:100%;}
.order_list_wrap .order-list{float:right;overflow:hidden;height:600px;padding:16px;}
.order_list_wrap .order-list .swiper-slide{background-color:#fff;padding:20px 24px;width:360px;border-radius:8px;box-shadow:0 2px 8px 0 rgba(0,0,0,.1);}
.order_list_wrap .order-list .swiper-slide .time_stamp{font-size:13px;color:#999;margin-bottom:12px;}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns{float:left;height:24px;position:relative;line-height:24px;margin-left:32px;}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns::before{content:"";display:inline-block;width:24px;height:24px;background-size:cover;border-radius:4px;position:absolute;left:-32px;}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns.instagram::before{background-image:url(https://cdn.jsdelivr.net/gh/kang2oon/kgoon-js-ref/the9sns/images/sns-instagram.svg);}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns.youtube::before{background-image:url(https://cdn.jsdelivr.net/gh/kang2oon/kgoon-js-ref/the9sns/images/sns-youtube.svg);}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns.facebook::before{background-image:url(https://cdn.jsdelivr.net/gh/kang2oon/kgoon-js-ref/the9sns/images/sns-facebook.svg);}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns.twitter::before{background-image:url(https://cdn.jsdelivr.net/gh/kang2oon/kgoon-js-ref/the9sns/images/sns-twitter.svg);}
.order_list_wrap .order-list .swiper-slide .time_stamp .sns.tiktok::before{background-image:url(https://cdn.jsdelivr.net/gh/kang2oon/kgoon-js-ref/the9sns/images/sns-tiktok.svg);}
.order_list_wrap .order-list .swiper-slide .time_stamp .time{float:right;}
.order_list_wrap .order-list .swiper-slide .service{font-size:18px;font-weight:900;}
.order_list_wrap .order-list .swiper-slide .qty{color:#666;font-size:14px;margin-top:8px;}

input[type="checkbox"]{display:none;}
input[type="checkbox"]+label{display:inline-block;position:relative;padding-left:24px;}
input[type="checkbox"]+label::after{
    content:"";width:16px;height:16px;background:#fdfdfd;border:1px solid #ddd;position:absolute;left:0;top:1px;border-radius:3px;
}
input[type="checkbox"]:checked+label::after{
    content:"✔";font-size:12px;line-height:16px;background:#2563eb;color:#fff;border-color:#38bab2;text-align:center;
}

#footer{background-color:#333;padding:36px;margin:0;color:#fff;}

.modal_wrap{display:none;}
.modal_wrap::before{content:"";background-color:rgba(0,0,0,.75);width:100%;height:100vh;position:fixed;left:0;top:0;z-index:1000;}
.modal_wrap>div{position:absolute;width:600px;padding:40px;background-color:#fff;border-radius:32px;z-index:1050;left:50%;top:160px;transform: translateX(-50%);display:none;}
.modal_wrap .title{position:relative;font-size:36px;font-weight:700;letter-spacing:-1px;color:#999;}
.modal_wrap .title i{position:absolute;font-size:24px;font-weight:300;color:#333;top:12px;right:0;cursor:pointer;}
.modal_wrap .title i:hover, .modal_wrap .title i:focus{color:#f06;}

